<!-- <p-card>
    <ng-template pTemplate="header">
        {{comment.username}}
    </ng-template>
        {{comment.id}}
        {{comment.date}}
    <ng-template pTemplate="footer">
        Footer content here
    </ng-template>
</p-card> -->

<!-- <div >
    <span *ngIf="!changeText">Hide</span>
    <span *ngIf="changeText">Show</span>
</div> -->



<!-- <mat-card (click)="highlightMarker()" >
    <mat-card-title>
        {{comment.username}}
        {{changeText}}
    </mat-card-title>

    <mat-card-subtitle>
        Id: {{comment.id}}
        Date: {{comment.date | date: 'medium' }}

        <div class="rating">
            <p-rating [(ngModel)]="rating" [cancel]="false" [readonly]="true"></p-rating>  
            <h4>AVG: {{comment.avg}}</h4>
        </div>

    </mat-card-subtitle>

    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>

</mat-card>
<br> -->

<div class="card" (mouseenter)="highlightMarker()">
    <div class="content">
        <div class="rating">
            <div class="number">
                {{rating | number: '1.1-1'}}
            </div>
            <div class="stars">
                <p-rating [(ngModel)]="rating" [cancel]="false" [readonly]="true"></p-rating>  
            </div>
        </div>
        <div class="cmt-text">
            <!-- <div *ngIf="comment.content != undefined; else elseBlock"> -->
                {{comment.content}}
            <!-- </div> -->
            <ng-template #elseBlock>
                Brak komentarza.
            </ng-template>
        </div>

    </div>
    <div class="subcontent">
        <div class="user">
            <i class="pi pi-user"></i>
            {{comment.username}}
        </div>
        <div class="location">
            <i class="pi pi-map-marker"></i>
            Praga Północ, Burdzińskiego
        </div>
        <div class="rate-btn"></div>
    </div>
    <div class="expand-btn">
        ...
    </div>
</div>

