@mixin border {
    border: solid;
    border-width: 1px;
    border-color: var(--color-light--1);
    border-radius: 6px;
}

.card{
    display: flex;
    flex-direction: column;
    // min-height: 180px;
    background-color: var(--color-dark--2);
    border-radius: 6px;
    margin: 1rem 0rem 1rem 0.5rem;
    border-left: 5px solid var(--color-brand--1);
}

.card .expanded-divider{
    display: flex;
    flex-direction: row;
}

.card .content{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.5rem 0;
}

.card .content-expanded{
    flex-direction: row;
    justify-content: space-between;
}

.card .rating{
    @include border();

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 8rem;
    min-height: 5rem;
}

.card .rating-block{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 1rem
}

.card .rating-block .stars-description{
    // font-family: "Poppins";
    margin-left: 1rem;
}

.card .number{
    @include border();
    color: #434343;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    min-height: 4rem;
    font-size: 4rem;
    text-align: center;

    background-color: #FFFFFF;
}

.card .stars{
    // @include border();
    text-align: center;
    margin-top: 0.5rem;
    width: 8rem;
}

@mixin cmt-text {
    @include border();
    // max-height: 100px;
    color: var(--color-light--3);
    background-color: var(--color-light--1);
    // max-height: 8rem;
    margin-left: 0.5rem;
    overflow: hidden; 
}

.card .cmt-text{
    @include cmt-text();
    width: 85%;
}

.card .cmt-text-expanded{
    width: 55%;
}

.card .subcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-light--2);
    padding: 0.5rem;
    // font-family: "Poppins"
}