<div class="pr-2 md: pr-0" [@openClose]="isOpen ? 'open' : 'closed'"  (mouseenter)="highlightMarker()" (click)="expandDiv($event)">

    <div class="card" *ngIf="isOpen===false; else elseBlock">
        <div class="content">
            <div class="rating">
                <div class="number">
                    {{rating | number: '1.1-1'}}
                </div>
                <div class="stars">
                    <p-rating [(ngModel)]="rating" [cancel]="false" [readonly]="true"></p-rating>
                </div>
            </div>
            <div class="cmt-text">
                <div *ngIf="comment.text_content == undefined || comment.text_content == null; else elseBlock">
                    Niestety, ktoś się nie popisał!
                </div>
                <ng-template #elseBlock>
                    {{comment.text_content}}
                </ng-template>
            </div>

        </div>
        <div class="subcontent">
            <div class="user">
                <i class="pi pi-user icon"></i>
                {{comment.username}}
            </div>
            <div class="user">
                <i class="pi pi-calendar icon"></i>
                {{comment.when_added | date: 'medium' }}
            </div>
            <div class="location">
                <div *ngIf="comment.address !== undefined && comment.address !== null">
                    <i class="pi pi-map-marker icon"></i>
                    <span *ngIf="comment.address.road !== null"> {{comment.address.road}} </span>
                    <span *ngIf="comment.address.house_number !== null"> {{comment.address.house_number}}, </span>
                    <span *ngIf="comment.address.suburb !== null"> {{comment.address.suburb}} </span>
                </div>
            </div>
            <div class="rate-btn"></div>
        </div>
    </div>

    <ng-template  #elseBlock>

        <div class="card">

            <div class="content content-expanded">

                <div>
                    <div class="rating">
                        <div class="number">
                            {{rating | number: '1.1-1'}}
                        </div>

                        <div class="stars">
                            <p-rating [(ngModel)]="rating" [cancel]="false" [readonly]="true"></p-rating>
                        </div>
                    </div>

                    <div>
                        <div class="rating-block" *ngFor="let item of comment.rating | keyvalue">
                            <div class="stars">
                                <p-rating [ngModel]="item.value" [cancel]="false" [readonly]="true"></p-rating>
                            </div>
                            <div class="stars-description">
                                {{item.key}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cmt-text cmt-text-expanded">
                    <div *ngIf="comment.text_content == undefined || comment.text_content == null; else elseBlock">
                      Niestety, ktoś się nie popisał!
                    </div>
                    <ng-template #elseBlock>
                        {{comment.text_content}}
                    </ng-template>
                </div>

            </div>

            <div class="subcontent">
                <div class="user">
                    <i class="pi pi-user"></i>
                    {{comment.username}}
                </div>
                <div class="user">
                    <i class="pi pi-calendar"></i>
                    {{comment.when_added | date: 'medium' }}
                </div>
                <div class="location">
                    <div *ngIf="comment.address !== undefined && comment.address !== null">
                        <i class="pi pi-map-marker"></i>
                        <span *ngIf="comment.address.road !== null"> {{comment.address.road}} </span>
                        <span *ngIf="comment.address.house_number !== null"> {{comment.address.house_number}}, </span>
                        <span *ngIf="comment.address.suburb !== null"> {{comment.address.suburb}} </span>
                    </div>
                </div>

                <div class="rate-btn"></div>
            </div>

        </div>

    </ng-template>

</div>

