<div class="flex flex-column">

    <div id="main-content" class="flex flex-row border-2 w-full">

        <div id="num-rating" class="flex-none flex flex-column">
            <div id="number" class="bg-gray-100">5.0</div>
            <div id="rating" class="bg-gray-100">
                <p-rating [(ngModel)]="rating" [cancel]="false" [readonly]="true"></p-rating>
            </div>
        </div>

        <div id="cmt-text" class="flex-grow-1 bg-blue-100">text-content</div>
        
        <div id="subcontent" class="flex flex-row w-full">
            <div id="user" class="bg-green-100 flex-auto flex">user</div>
            <div id="date" class="bg-green-200 flex-auto flex">date</div>
            <div id="location" class="bg-green-300 flex-auto flex">locationwefwefwefwefwefqwdqwdqw </div>
        </div>
    </div>

</div>