
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.logo-side-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  height: 2.5rem;
  background-color: #FFFFFF;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo .content{
  color: #434343;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 2rem;
  // margin: auto;
  // width: 100%;
}

.container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-brand--1);
  // padding: 18px 0px 18px 0px;
}


// .burger{
//   text-transform: uppercase;
//   font-family: 'Open Sans', sans-serif;
//   font-style: normal;
//   font-weight: 400;
//   color: #f7f7f7;
//   align-items: center;
//   display: flex;
// }

// .burger .bars{
//   font-size: 2rem;
// }

.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}


@media screen and (max-width: 1280px) {
  .container{
    width: 936px;
  }
}

@media screen and (max-width: 990px) {
  .burger{
    display: flex;
    align-items: center;
    font-weight: lighter;
  }
  .logo{
    background-color: #FFFFFF;
  }
  .container{
    width: 730px;
    align-items: center;
  }
}

@media screen and (max-width: 769px) {
  .container{
    width:90%;
  }
}

// @media screen and (min-width: 1440px) {
//   .container{
//     width: 1224px;
//   }
// }
