<nav>
    <div class="container">
      <div class="logo">
        <div class="content">
          jak<span style="color: #D62E2E">sie</span>mieszka
        </div>
        <!-- <img src="assets/img/URLogo.svg"> -->
      </div>
  
      <ul class="nav-links">
        <!-- <li>
          <div class="dropdown">
            <button class="dropbtn">Company
            </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </li> -->
  
        <li>
          <div class="dropdown">
            <button class="dropbtn">Login
            </button>
          </div>
        </li>
  
        <li>

        </li>
  
        <!-- <li><a href="#"><img class="icons" src="assets/img/icons/facebook.svg"></a></li>
        <li><a href="#"><img class="icons" src="assets/img/icons/linkedin.svg"></a></li>
        <li><a href="#"><img class="icons" src="assets/img/icons/youtube.svg"></a></li> -->
  
      </ul>
  
      <div class="burger">
        MENU <i class="pi pi-bars"></i>
      </div>
  
    </div>
  
</nav>