<nav>
    <div class="container">
      <div class="logo">
          JAKsiemieszka
        <!-- <img src="assets/img/URLogo.svg"> -->
      </div>
  
      <ul class="nav-links">
        <li>
          <div class="dropdown">
            <button class="dropbtn">Company
              <!-- <fa-icon class="icon" [icon]="faCaretDown"></fa-icon> -->
            </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </li>
  
        <li>
          <div class="dropdown">
            <button class="dropbtn">COVID-19
              <!-- <fa-icon class="icon" [icon]="faCaretDown"></fa-icon> -->
            </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </li>
  
        <li>
          <div class="dropdown">
            <button class="dropbtn">Robots
              <!-- <fa-icon class="icon" [icon]="faCaretDown"></fa-icon> -->
            </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </li>
  
        <li>
          <div class="dropdown">
            <button class="dropbtn">Resources
              <!-- <fa-icon class="icon" [icon]="faCaretDown"></fa-icon> -->
            </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </li>
  
        <li>
          <div class="dropdown">
            <button class="dropbtn">Contact
              <!-- <fa-icon class="icon" [icon]="faCaretDown"></fa-icon> -->
            </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </li>
  
        <!-- <li><a href="#"><img class="icons" src="assets/img/icons/facebook.svg"></a></li>
        <li><a href="#"><img class="icons" src="assets/img/icons/linkedin.svg"></a></li>
        <li><a href="#"><img class="icons" src="assets/img/icons/youtube.svg"></a></li> -->
  
      </ul>
  
      <div class="burger">MENU
        <a href="#"><img style="margin-left: 0.5rem;" src="assets/img/icons/burger.svg"></a>
      </div>
  
    </div>
  
</nav>