<div class="main">

    <div class="header">
        <div class="logo">
            <div class="content">
            jak<span style="color: #D62E2E">sie</span>mieszka
            </div>
        </div>
    </div>

    <h4 *ngIf="!registration; else REGISTER" class="card-header">Logowanie</h4>
    <ng-template #REGISTER>
        <h4 class="card-header">Rejestracja</h4>
    </ng-template>

    <div *ngIf="registerSuccess;" class="card sub-card register-success">
        Zarejestrowano pomyślnie!
    </div>

    <div class="card">

        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <!-- || (registration && f.username.errors || f.username.touched && f.username.errors) -->
                    <!-- || ( registration || f.username.touched && f.username.errors?.['required']) -->
                    <div class="main-input">
                        <label class="label" for="username">Nazwa użytkownika</label>
                        <input class="input" type="text" formControlName="username" pInputText required [ngClass]="{ 'ng-invalid ng-dirty': (submitted && f.username.errors || f.username.touched && f.username.errors)  }" />
                        <small class="p-error" *ngIf="(submitted && f.username.errors?.['required'] || f.username.touched && f.username.errors?.['required'] ) ">
                            Podaj nazwę użytkownika
                        </small>
                        <small class="p-error" *ngIf="f.username.errors?.['minlength'] || f.username.errors?.['maxlength']">
                            Nazwa powinna zawierać od 5 do 15 znaków.
                        </small>
                    </div>

                    <div class="main-input">
                        <label class="label" for="password">Hasło</label>
                        <input class="input" type="text" formControlName="password" pInputText type="password" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.password.errors || f.password.touched && f.password.errors }" />
                        <small class="p-error" *ngIf="submitted && f.password.errors || f.password.touched  && f.password.errors">
                            Podaj hasło
                        </small>
                    </div>

                    <div *ngIf="registration;" class="main-input">
                        <label class="label" for="password">Powtórz hasło.</label>
                        <input class="input" type="text" formControlName="confirmedPassword" pInputText type="password" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.confirmedPassword.errors }" />
                        <small class="p-error" *ngIf="(f.confirmedPassword.errors?.required && submitted)">
                            Podaj hasło
                        </small>
                        <small class="p-error" *ngIf="(f.confirmedPassword.errors && submitted)">
                            Hasła niezgodne
                        </small>
                    </div>

                </div>

                <div class="error">
                    <small class="p-error">
                        {{error}}
                    </small>
                </div>

                <div *ngIf="!registration; else button_register" class="submit-btn">
                    <p-button label="Zaloguj" [loading]="loading" class="submit" type="submit" iconPos="right"></p-button>
                    <!-- <button pButton class="submit" type="submit">Login</button> -->
                </div>
                <ng-template #button_register>
                    <p-button label="Zarejestruj" [loading]="loading" class="submit" type="submit" iconPos="right"></p-button>
                </ng-template>

            </form>
        </div>
    </div>

    <div *ngIf="!registration && !registerSuccess;" class="card sub-card">
        Nie masz jeszcze konta?
        <button pButton pRipple type="button" label="Zarejestruj się!" class="p-button-text" (click)="register()"></button>
    </div>

</div>

