<div class="new-form">

    <!-- <div class="zero">
        <h1 style="padding: 2rem;">
            Elo MORDO!
            Pomóż innym użytkownikom w podjęciu decyzji o przeprowadzce do Twojej okolicy
            i oceń jak najwięcej podpunktów formularza! Dla poszczególnych pozycji
            możesz wystawić ocenę oraz komentarz opisowy.
        </h1>
        <p-button label="Dalej" (onClick)="load()"></p-button>
    </div> -->

    <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex"></p-steps>

    <app-form-help [item]="item"></app-form-help>

    
</div>