:host {
    ::ng-deep .p-avatar{
        font: black;
        background-color: white;
    }    
    ::ng-deep .p-avatar .p-avatar-circle{
        border-radius: 20%;
    }

    ::ng-deep .p-button:enabled:hover {
        color: var(--color-light--3);
        border-color: var(--color-light--3)
    }
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.5rem 0 0.5rem;
}

// .bars{
//     font-size: 2rem;
//     color: whitesmoke;
//     margin-right: 2rem;
// }

// .burger{
//     display: flex;
//     flex-direction: row;
// }

.avatar-label{
    font-family: "Poppins";
    font-weight: 300;
}