:host {
    ::ng-deep .p-avatar{
        // font: rgb(223, 218, 218);
        // color: --color-light-2;
        // background-color: white;
    }    
    ::ng-deep .p-avatar .p-avatar-circle{
        border-radius: 20%;
    }

    ::ng-deep .p-button:enabled:hover {
        color: var(--color-light--3);
        border-color: var(--color-light--3)
    }
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.5rem 0 0.5rem;
}

.avatar-label{
    font-family: "Poppins";
    font-weight: 300;
    // color: --color-dark--1;
}