<div class="main">

  <div class="header">
    <h1>Dodaj opinię</h1>
    <button 
      pButton 
      pRipple 
      type="button" 
      icon="pi pi-times" 
      class="p-button-rounded p-button-danger p-button-outlined" 
      (click)="cancelAdding()">
    </button>
  </div>

  <div class="location">
    <h2>Twoja lokalizacja: 
    <div class="marker-data"  *ngIf="markerData !== undefined"> 
      {{markerData.address.road}} 
      {{markerData.address.house_number}}, 
      {{markerData.address.suburb}} 
    </div>
  </h2>
    <div *ngIf="currentMarker !== undefined; else elseBlock">
      <!-- Współrzędne: Lat: {{currentMarker.lat}} Lng: {{currentMarker.lng}} -->
    </div>
    <ng-template #elseBlock>Kliknij na mapę aby dodać swoją lokalizację. </ng-template>
    
    <div>
      <small class="p-error" *ngIf="(currentMarker == undefined && submitted)">
        Dodanie lokalizacji jest kluczowym elementem opinii. 
      </small>
    </div>

  </div>

  <form class="form" [formGroup]="commentForm" (ngSubmit)="onSubmit()">

    <h4>Lokalizacja</h4>
    <p-rating styleClass="rating-override" formControlName="locationScore" [cancel]="false" required>Lokalizacja</p-rating>

    <h4>Hałas</h4>
    <p-rating formControlName="noiseScore" [cancel]="false" required></p-rating>

    <h4>Jakość powietrza</h4>
    <p-rating formControlName="airScore" [cancel]="false" required></p-rating>

    <h4>Korki</h4>
    <p-rating formControlName="trafficScore" [cancel]="false" required></p-rating>
    
    <!-- <h4>Dostęp do kultury</h4>
    <p-rating formControlName="cultureScore" [cancel]="false" required></p-rating>

    <h4>Dostęp do edukacji</h4>
    <p-rating formControlName="eduScore" [cancel]="false" required></p-rating>

    <h4>Dostęp do sportu</h4>
    <p-rating formControlName="sportScore" [cancel]="false" required></p-rating> -->

    <div class="textarea-container">
      <div>Podsumowanie:</div>
      <textarea id="textarea" [rows]="5" class="textarea" pInputTextarea formControlName="text_content" [autoResize]="true" placeholder="Dodaj parę słów od siebie!"></textarea>
    </div>

    <p-button class="submit" type="submit">Opublikuj</p-button>
    
  </form>
  
</div>
