.no-comments{
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: auto;
  background-color: #2E2E2E;

  text-align: center;
  padding: 1rem;
  border-radius: 6px;
}

.no-comments p{
  font-family: "Poppins";
  font-weight: 200;
  font-size: 1rem;
  color: var(--color-brand--1);
  margin: 0;
}

:host{
  ::ng-deep .p-scrollpanel {
    p {
        padding: .5rem;
        line-height: 1.5;
        margin: 0;
    }
  
    &.custombar1 {
        .p-scrollpanel-bar {
            background-color: var(--color-brand--1);
        }
    }
  }
}
