<!-- <div *ngIf="comments.length === 0 || !comments">
    No comments available.
</div> -->

<!-- <div *ngIf="comments || comments.length > 0"> -->
    <!-- <div *ngFor="let comment of comments"> -->
        <!-- {{comment}} -->
        <!-- <app-comment [comment]=comment></app-comment> -->
    <!-- </div> -->
<!-- </div> -->



<div *ngIf="comments; else elseBlock">

    <!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let comment of comments" class="example-item">
            <app-comment [comment]=comment></app-comment>
        </div>
    </cdk-virtual-scroll-viewport> -->

    <p-scrollPanel [style]="{width: '100%', height: '80vh'}">
        <div *ngFor="let comment of comments">
            <div *ngIf="comment!=undefined">
                <app-comment [comment]=comment></app-comment>
            </div>
        </div>
    </p-scrollPanel>
</div>

<ng-template #elseBlock>
    No comments available.
</ng-template>
