<!-- <p-button label="Click" (onClick)="scrollTo($event)"></p-button>
<p-button label="Click" (onClick)="scrollTo2($event)"></p-button>
<p-button label="Click" (onClick)="scrollTo3($event)"></p-button> -->

<div *ngIf="comments.length != 0; else elseBlock">
    <p-scrollPanel [style]="{width: '100%', height: '90vh' }">
        <div *ngFor="let comment of comments">
            <div [id]=comment.id>
                <app-comment [comment]=comment></app-comment>
            </div>
        </div>
    </p-scrollPanel>
</div>

<ng-template #elseBlock>
    <div class="no-comments">
        <p> Dodaj pierwszy komentarz! </p>
    </div>
</ng-template>