/* You can add global styles to this file, and also import other style files */
@import "../node_modules/leaflet/dist/leaflet.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: "Poppins";
    src: local("Poppins-thin"), 
    url(./assets/fonts/Poppins/Poppins-Thin.ttf) 
    format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins-bold"), url(./assets/fonts/Poppins/Poppins-Bold.ttf) 
    format("truetype");
    font-weight: 700;
}
