/* You can add global styles to this file, and also import other style files */
@import "../node_modules/leaflet/dist/leaflet.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');

:root {
    --color-brand--1: #EC5434;
    --color-brand--2: #00c46a;

    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;

    --color-light--1: #707070;
    --color-light--2: #ececec;
    --color-light--3: rgb(214, 222, 224);

    --main-background: 
}


.leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border-radius: 5px;
    // padding-right: 0.6rem;
    border-left: 5px solid var(--color-brand--1);
    font-family: "Poppins";
    font-weight: 200;
    font-size: 1.5rem;
}
