<!-- {{changeView}}
<p-button (onClick)="onChangeButton()">switch</p-button> -->

<div [ngSwitch]='changeView' class="flex w-full h-full overflow-x-hidden">

    <div class="flex h-full w-full" *ngSwitchCase="commentsView.View">
        <app-comments class="flex h-full w-full overflow-x-hidden"></app-comments>
    </div>

    <div class="h-full w-full" *ngSwitchCase="commentsView.Add">
        <app-add-comment></app-add-comment>
    </div>

    <!-- <h1 class="bg-blue-100 h-full w-full">napis testowy</h1> -->
</div>
