
<div class="main">

  <div class="navbar">
    <app-navbar></app-navbar>
  </div>

  <div class="content">
    <div class="comments_section">
      <div>
        <p-button class="navButton" (onClick)=switchWindow() icon="pi pi-plus-circle" ></p-button>
      </div>
      
      <div [ngSwitch]='windowIndex'>

          <div *ngSwitchCase="0">
            <app-comments></app-comments>
          </div>

          <div *ngSwitchCase="1">
            <app-add-comment></app-add-comment>
            <!-- <app-comm-form></app-comm-form> -->
          </div>

        </div>
      </div>

      <div class="map_section">
        <div class="map">
          <app-map></app-map>
        </div>
        
      </div>
  </div>

</div>
