<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>JAKsiemieszka</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
</p>

<div class="grid">
    <div #comments_section class="col-6">
        <div *ngFor="let comment of comments">
            <app-comment [comment]=comment></app-comment>
        </div>
    </div>

    <div #map_section class="col-6">
        <app-map></app-map>
    </div>
</div>
