.main {
  // background-color: #858585;
  background-color: var(--color-dark--1);
  height: 100%;
}

.main .navbar{

}

.main .content{
  display: flex;
  flex-direction: row;
  // height: 90vh;
  // overflow: hidden;
}

.main .content .comments_section{
  width: 40%;
  margin: 0.25rem;
  height: 90vh;
}

.main .content .map_section{
  width: 60%;
  margin: 0.25rem;
}

.main .content .map_section .map{

}

.speedDial{
  position: absolute;
  // bottom: 5%;
  // right: 5%;
  // position: relative;
  right: 6%;
  bottom: 40%;
  // height: 350px; 
  z-index: 1000;
}